<nav class="navbar navbar-expand-lg" style="background-color: rgba(203,175,177,0.5)">
  <div class="container-fluid">
    <a  class="nav-link" routerLink="/">Love<3</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li *ngIf="!checkLogin" class="nav-item"  >
          <a class="nav-link" routerLink="/register" >Register</a>
        </li>
        <li class="nav-item" *ngIf="!checkLogin" >
          <a class="nav-link" routerLink="/login" >Login</a>
        </li>
        <li class="nav-item" *ngIf="checkLogin" >
<!--          <mat-icon color="accent">account_circle</mat-icon>-->
          <a class="nav-link" routerLink="/user-account" >{{name}}</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
