<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 50px">
      <mat-card style="margin: 50px 0">
        <table>
          <tr>
            <td>id</td>
            <td>Name</td>
            <td>Come in</td>
          </tr>
          <tr>
            <td>1</td>
            <td>chat FB</td>
            <td><button   (click)="comeIn($event)" id="1">Come in</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>chat IG</td>
            <td><button (click)="comeIn($event)" id="2">Come in</button></td>
          </tr>
        </table>

      </mat-card>
    </div>
  </div>
</div>

